*{
   font-family: "Rubik", sans-serif;
   background-color: rgb(240, 239, 234);
}

html{
  box-sizing: border-box
}

body{
  height: 100vh;
}

.navbar-toggler{
  transform: scale(0.5);
  height: 70px;
  width: 70px;
  z-index: 500;
  background-color: #005bff;
  font-size: 2rem;
}

.bg-custom{
  color: #fff;
  opacity: 0.9;
}

.fa-bars{
  font-size: 5rem !important;
}

.hero{
  display: none
}

.home-wrapper{
  position: relative;
  height: 100%;
  width: 100vw !important;
 }
 
.home-wrapper::before{
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.6;
  z-index: -5;
  width: 100%;
  height: 100%;
  background: url("/images/male-reader.jpg") no-repeat 100% 100% / cover;

}
.login-container{
  min-height: 60vh;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 22.5vh;
  left: 10vw;
  width: 80vw;
  padding: 15% 5% 0;
  border-radius: 50px;
  overflow: scroll;
  /* box-shadow: 5px 5px #333 to be decided later*/

}
.user-login{
  text-align: center !important;
  
}
.header-text{
  margin-bottom:50px;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 2px;
}
 .email-input{
   display: block;
  width:  100% !important;
}
input[type="email"], input[type="text"], input[type="submit"]{
  padding: 3% 10%;
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  background-color: aliceblue;
}

input[type="submit"]{
  background-color: #005cff;
  color: #fff;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 30px;
}

.sign-up{
  margin-bottom: 30px;
  margin-top: 50px
}
a{
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
}
li{
  list-style: none;
}
img{
  width: 100px;
}
a:hover{
  text-decoration: none;
}
.footer{
  background-color: rgb(7, 7, 12);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #005bff;
}
